{
	"plugins": [
		[
			"@babel/plugin-proposal-optional-chaining"
		]
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "ie": 11
                },
                "modules": false
            }
        ]
    ]
}